html{
    background-color: rgba(112, 15, 15, 0.842);
   
   }
   body{
    color: rgb(184, 157, 8);
    
   
   
   }
   .letras-menu h1{
       display: flex;
       justify-content: center;
       align-items: center;
       
   
   
   }
   .letras-menu li a{
       display: flex;
       justify-content: center;
       align-items: center;
       color: black;
   
   
   }
   .letras-menu h2{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 200px;
   
   
   }
   .scri{
    display: flex;
       justify-content: center;
       align-items: center;




   }

.letras-menu h2{
    display: flex;
    justify-content: center;
    align-items: center;
   


}

   /* Banderita */
   #img img
   {
       height: 200px;
       width: 180px;
   }
   
   #img
   {
       margin: 0px;
       padding-left: 85px;
       position: absolute;
   }
   
   #img
   {
       z-index: 2;
   }
   
   #carouselExampleIndicators
   {
       height: 500px;
       margin-top: 60px;
   }
   .tabla{
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
   
   